*.swp
.*.swp
*.swo
*.o
*.so
bin/
out/
lib/
include/
CaloRinger_Analysis_ElectronVsJet/*
CoisasDoPassado/*
D3PDAnalysis/src/junk.txt
GoodRunLists/Lists/*
MatlabRingerTrain/mat/*
MatlabRingerTrain/matlab/script_normal_train_offline.m
RunNeural/oldnets/*
extra/*
html_v1_analysis/*
matlab/*
matlabpath.txt
*.un~
*.eps
*.pdf
*.fig
